<div ng-class="{
    'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
    'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
    }">
    <div class="form-group">
        <label
            ng-if="!properties.labelHidden && properties.allowHTML"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ properties.labelPosition === 'left' ? properties.labelWidth : 12 }}"
            ng-bind-html="properties.label | uiTranslate">
        </label>
        <label
            ng-if="!properties.labelHidden && !properties.allowHTML"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ properties.labelPosition === 'left' ? properties.labelWidth : 12 }}"
            ng-bind="properties.label | uiTranslate">
        </label>
        <div class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}" >
            <select
                class="form-control"
                name="{{code}}: {{currency.name}} {{!!currency.uniqSymbol && !!currency.uniqSymbol.grapheme ? '(' +
            currency.uniqSymbol.grapheme + ')': ''}}"
                ng-model="properties.value"
                ng-selected="{{code === properties.value}}"
                ng-required="properties.required"
                ng-disabled="properties.disabled">
                <option ng-repeat="(code, currency) in currencies" value="{{code}}" ng-selected="{{code === selectedCurrencyCode}}">
                    {{code}}: {{currency.name}} {{!!currency.uniqSymbol && !!currency.uniqSymbol.grapheme ? '(' + currency.uniqSymbol.grapheme + ')': ''}}
                </option>
            </select>
        </div>
    </div>
</div>