<h3>Affichage de mes variables</h3>
<div ng-if="properties.nomvar" class="thumbnail alert-primary">
    <span class="label label-primary"><b>{{properties.nomvar |uppercase }}</b></span><p>{{ properties.value |json}}</p>
</div>
<div ng-if="properties.nomvar1" class="thumbnail alert-info">
    <span class="label label-info"><b> {{properties.nomvar1 |uppercase }}</b></span><p>{{ properties.value1 |json}}</p>
</div>
<div ng-if="properties.nomvar2" class="thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar2 |uppercase }}</b></span><p>{{ properties.value2 |json}}</p>
</div>
<div ng-if="properties.nomvar3" class="thumbnail alert-warning">
    <span class="label label-warning"><b> {{properties.nomvar3 |uppercase }}</b></span><p>{{ properties.value3 |json}}</p>
</div>
<div ng-if="properties.nomvar4" class="thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar4 |uppercase }}</b></span><p>{{ properties.value4 |json}}</p>
</div>
<div ng-if="properties.nomvar5" class="thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar5 |uppercase }}</b></span><p>{{ properties.value5 |json}}</p>
</div>
<div ng-if="properties.nomvar6" class="thumbnail alert-info">
    <span class="label label-info"><b> {{properties.nomvar6 |uppercase }}</b></span><p>{{ properties.value6 |json}}</p>
</div>
<div ng-if="properties.nomvar7" class="thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar7 |uppercase }}</b></span><p>{{ properties.value7 |json}}</p>
</div>
<div ng-if="properties.nomvar8" class="thumbnail alert-warning">
    <span class="label label-warning"><b>{{properties.nomvar8 |uppercase }}</b></span><p>{{ properties.value8 |json}}</p>
</div>
<div ng-if="properties.nomvar9" class="thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar9 |uppercase }}</b></span><p>{{ properties.value9 |json}}</p>
</div>
<div ng-if="properties.nomvar10" class="thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar10 |uppercase }}</b></span><p>{{ properties.value10 |json}}</p>
</div>
<div ng-if="properties.nomvar11" class="thumbnail alert-info">
    <span class="label label-info"><b> {{properties.nomvar11 |uppercase }}</b></span><p>{{ properties.value11 |json}}</p>
</div>
<div ng-if="properties.nomvar12" class="thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar12 |uppercase }}</b></span><p>{{ properties.value12 |json}}</p>
</div>
<div ng-if="properties.nomvar13" class="thumbnail alert-warning">
    <span class="label label-warning"><b> {{properties.nomvar13 |uppercase }}</b></span><p>{{ properties.value13 |json}}</p>
</div>
<div ng-if="properties.nomvar14" class="thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar14 |uppercase }}</b></span><p>{{ properties.value14 |json}}</p>
</div>
<div ng-if="properties.nomvar15" class="thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar15 |uppercase }}</b></span><p>{{ properties.value15 |json}}</p>
</div>