<div class="row ">
    <div ng-if="properties.userId === properties.comment.idUser" class="col-xs-4"></div>
    <div class="col-xs-8">
        <div class="alert alert-info panel text-{{ properties.userId === properties.comment.idUser ? 'right':'left' }}">
            <div ng-bind-html="properties.comment.comment"></div>
            <hr>
                <h6>{{properties.comment.nomUser | uppercase }} {{properties.comment.prenomUser }}</h6>
            
            <p>
                <b>Date : </b>{{properties.comment.dateComment | date:'dd/MM/yyyy HH:mm'}}
            </p>

        </div>
    </div>
    <div ng-if="properties.userId !== properties.comment.idUser" class="col-xs-4"></div>
</div>
