<h3>Print variables</h3>
<div class="container-fluid">
    <div class="row">
        <div ng-if="properties.nomvar" class="col-xs-6 thumbnail alert-primary">
            <span class="label label-primary"><b>{{properties.nomvar |uppercase }}</b></span>{{ properties.value | json}}
        </div>
        <div ng-if="properties.nomvar1" class="col-xs-6 thumbnail alert-info">
            <span class="label label-info"><b> {{properties.nomvar1 |uppercase }}</b></span><pre>{{ properties.value1 |json}}</pre>
        </div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar2" class="col-xs-6 thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar2 |uppercase }}</b></span><p>{{ properties.value2 |json}}</p>
</div>
<div ng-if="properties.nomvar3" class="col-xs-6 thumbnail alert-warning">
    <span class="label label-warning"><b> {{properties.nomvar3 |uppercase }}</b></span><p>{{ properties.value3 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar4" class="col-xs-6 thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar4 |uppercase }}</b></span><p>{{ properties.value4 |json}}</p>
</div>
<div ng-if="properties.nomvar5" class="col-xs-6 thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar5 |uppercase }}</b></span><p>{{ properties.value5 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar6" class="col-xs-6 thumbnail alert-info">
    <span class="label label-info"><b> {{properties.nomvar6 |uppercase }}</b></span><p>{{ properties.value6 |json}}</p>
</div>
<div ng-if="properties.nomvar7" class="col-xs-6 thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar7 |uppercase }}</b></span><p>{{ properties.value7 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar8" class="col-xs-6 thumbnail alert-warning">
    <span class="label label-warning"><b>{{properties.nomvar8 |uppercase }}</b></span><p>{{ properties.value8 |json}}</p>
</div>
<div ng-if="properties.nomvar9" class="col-xs-6 thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar9 |uppercase }}</b></span><p>{{ properties.value9 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar10" class="col-xs-6 thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar10 |uppercase }}</b></span><p>{{ properties.value10 |json}}</p>
</div>
<div ng-if="properties.nomvar11" class="col-xs-6 thumbnail alert-info">
    <span class="label label-info"><b> {{properties.nomvar11 |uppercase }}</b></span><p>{{ properties.value11 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar12" class="col-xs-6 thumbnail alert-success">
    <span class="label label-success"><b> {{properties.nomvar12 |uppercase }}</b></span><p>{{ properties.value12 |json}}</p>
</div>
<div ng-if="properties.nomvar13" class="col-xs-6 thumbnail alert-warning">
    <span class="label label-warning"><b> {{properties.nomvar13 |uppercase }}</b></span><p>{{ properties.value13 |json}}</p>
</div>
    </div>
    <div class="row">
        <div ng-if="properties.nomvar14" class="col-xs-6 thumbnail alert-danger">
    <span class="label label-danger"><b> {{properties.nomvar14 |uppercase }}</b></span><p>{{ properties.value14 |json}}</p>
</div>
<div ng-if="properties.nomvar15" class="col-xs-6 thumbnail alert-primary">
    <span class="label label-primary"><b> {{properties.nomvar15 |uppercase }}</b></span><p>{{ properties.value15 |json}}</p>
</div>
    </div>
</div>